<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Powered by Gesture</title>
        <meta name="description" content="An approach to writing CSS using utility classes that are easy to write and understand.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/style.min.css">
        <link rel="shortcut icon" href="../../favicon.ico">
    </head>
    <body class="bgr-grey-lt expand-v grid-flex-center pad-2">

        <a class="abs pos-top pos-left marg-1-top marg-2-left link-text text-12" href="../components.html">Back to Components</a>

        <div id="signInContainer" class="box-640 pad-3 grid-flex box-center bgr-white shadow rounded marg-3-top-neg animate">
            <div class="grid-6 s-grid-12 pad-3-right s-pad-1-right s-border-bottom s-pad-3-bottom s-marg-3-bottom">
                <h1 class="grid-12 text-24 text-light text-blue-lt pad-2-bottom">Sign In</h1>
                <form id="loginForm" class="grid-12 pad-1-bottom pad-1-right">
                    <input class="marg-1-bottom" type="text" placeholder="User Name" required="required" />
                    <input class="marg-1-bottom" type="text" placeholder="Password" required="required" />
                    <input type="submit" class="btn float-right marg-1-top" value="Log In" />
                </form>
            </div>
            <div class="grid-6 s-grid-12 pad-3-left border-left s-border-0 s-pad-0-left">
                <h2 class="grid-12 text-24 text-light text-blue-lt pad-2-bottom pad-1-left s-pad-0-left">Join</h1>
                <p class="grid-12 pad-3-bottom pad-1-left s-pad-0-left">Signing up for an account is quick and easy.</p>
                <div class="grid-12 pad-2-top pad-1-right">
                    <button id="createAccount" class="float-right">Create Account</button>
                </div>
            </div>
        </div>

        <div id="createAccountContainer" class="box-480 box-center bgr-white shadow rounded animate hidden">
            <div class="grid-12 pad-3">
                <h2 class="grid-12 text-24 text-light text-blue-lt pad-2-bottom">Create Account</h1>
                <form class="grid-12" action="./" type="post">
                    <div class="grid-6 s-grid-12 pad-1-right pad-1-bottom">
                        <label for="first">First Name</label>
                        <input id="first" name="first" type="text" required />
                    </div>
                    <div class="grid-6 s-grid-12 pad-1-right pad-1-bottom">
                        <label for="last">Last Name</label>
                        <input id="last" name="last" type="text" required />
                    </div>
                    <div class="grid-12 pad-1-right pad-1-bottom">
                        <label for="address1">Street Address</label>
                        <input id="address1" name="address1" type="text" class="marg-1-bottom" />
                        <input id="address2" name="address2" type="text" required />
                    </div>
                    <div class="grid-6 s-grid-12 pad-1-right pad-1-bottom">
                        <label for="city">City</label>
                        <input id="city" name="city" type="text" required />
                    </div>
                    <div class="grid-2 s-grid-4 pad-1-right pad-1-bottom">
                        <label for="state">State</label>
                        <input id="state" name="state" type="text" required />
                    </div>
                    <div class="grid-4 s-grid-8 pad-1-right pad-1-bottom">
                        <label for="zip">Zip Code</label>
                        <input id="zip" name="zip" type="text" required />
                    </div>
                    <div class="grid-6 s-grid-12 pad-1-right pad-1-bottom">
                        <label for="tel">Phone</label>
                        <input id="tel" name="tel" type="tel" pattern="[0-9]{10}" required  />
                    </div>
                    <div class="grid-6 s-grid-12 pad-1-right pad-1-bottom">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email" required />
                    </div>
                    <div class="grid-12 text-right pad-1-right pad-3-top">
                        <span href="#" class="pad-btn clickable text-blue marg-1-right" id="cancelCreateAccount">Cancel</span>
                        <input type="submit" value="Create Account" class="btn" />    
                    </div>
                </form>
            </div>
        </div>

        <script type="text/javascript" src="../../js/lib/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="../../js/components/signin.js"></script>

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-2821890-9','auto');ga('send','pageview');
        </script>
    </body>
</html>
