/* Components */
fieldset {
  margin-bottom: 16px;
}

select {
  width: 100%;
}

input, textarea {
  width: 100%;
  padding: 4px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input[type=checkbox], input[type=radio] {
  width: auto;
  height: auto;
  margin: 0 8px 0 0;
}

label {
  width: 100%;
  display: block;
}

input.error, select.error, textarea.error {
  border: dotted 1px #cd242a;
}

input[disabled], select[disabled], input[readonly], select[readonly] {
  background-color: #eee;
  color: #888;
}

input[readonly] {
  cursor: text;
}

.tooltip {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #9fc74d;
  color: white;
  transform: translateY(-100%);
  border: solid 2px #fff;
}

.tooltip:after {
  top: 100%;
  right: 16px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #9fc74d;
  border-width: 6px;
}

.tooltip-hover {
  visibility: hidden;
}

div:hover > .tooltip-hover {
  visibility: visible;
}

.tooltip.error:after {
  border-top-color: #cd242a;
}

button, .btn {
  display: inline-block;
  background: #9fc74d;
  width: auto;
  color: #fff;
  padding: 4px 12px;
  border-radius: 4px;
  transition: all 0.25s ease-in-out;
  border: none;
  text-decoration: none;
  outline: none;
  margin-bottom: 4px;
  line-height: inherit;
}

button:hover, .btn:hover {
  filter: brightness(0.75) contrast(2.5) saturate(0.8);
  border: none;
}

.pad-btn {
  padding: 4px 12px;
}

.btn-small, .pad-btn-small {
  padding: 2px 8px;
}

.btn-large, .pad-btn-large {
  padding: 8px 16px;
}

.btn-huge, .pad-btn-huge {
  padding: 16px 24px;
}

p a, li a, blockquote a, cite a, figcaption a, nav a, .link-text {
  color: #287dbe;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

p a:hover, li a:hover, blockquote a:hover, cite a:hover, figcaption a:hover, .link-text:hover {
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

table {
  margin-bottom: 16px;
}

th, td, caption {
  padding: 8px;
  text-align: left;
  border-bottom: solid 1px #ddd;
}
