/* Containers */
.box-320 { width: 100%; max-width: 320px; }

.box-400 { width: 100%; max-width: 400px; }

.box-480 { width: 100%; max-width: 480px; }

.box-560 { width: 100%; max-width: 560px; }

.box-640 { width: 100%; max-width: 640px; }

.box-720 { width: 100%; max-width: 720px; }

.box-800 { width: 100%; max-width: 800px; }

.box-960 { width: 100%; max-width: 960px; }

.box-1100 { width: 100%; max-width: 1100px; }

.box-1200 { width: 100%; max-width: 1200px; }

.box-center { margin-left: auto; margin-right: auto; }

.fit-contain { object-fit: contain; }

.fit-cover { object-fit: cover; }

.fit-fill { object-fit: fill; }

dt, strong, .bold { font-weight: bold; }

em, .italic { font-style: italic; }

.text-reg { font-weight: normal; }

.text-light { font-weight: 200; }

.text-10 { font-size: 10px; }

.text-11 { font-size: 11px; }

.text-12 { font-size: 12px; }

.text-14, small { font-size: 14px; }

.text-16, body, p, h6, h5 { font-size: 16px; }

.text-18, h4 { font-size: 18px; }

.text-24, h3 { font-size: 24px; }

.text-36, h2 { font-size: 36px; }

.text-48, h1 { font-size: 48px; }

.uppercase { text-transform: uppercase; }

.lowercase { text-transform: lowercase; }

.underline { text-decoration: underline; }

.lineheight-1 { line-height: 1; }

/* Color Utils */
.bgr-blue-lt { background-color: #75c5df; }

.bgr-blue { background-color: #287dbe; }

.bgr-blue-dk { background-color: #384992; }

.bgr-green { background-color: #9fc74d; }

.bgr-green-dk { background-color: #5bb12f; }

.bgr-white { background-color: #fff; }

.bgr-dark { background-color: #234; }

.bgr-grey-lt { background-color: #ececec; }

.bgr-grey { background-color: #999; }

.bgr-pink { background-color: #ec66a2; }

.bgr-purple { background-color: #9e579e; }

.bgr-red { background-color: #cd242a; }

.text-blue-lt { color: #75c5df; }

.text-blue { color: #287dbe; }

.text-blue-dk { color: #384992; }

.text-green { color: #9fc74d; }

.text-green-dk { color: #5bb12f; }

.text-white { color: #fff; }

.text-dark { color: #234; }

.text-grey-lt { color: #ececec; }

.text-grey { color: #999; }

.text-pink { color: #ec66a2; }

.text-purple { color: #9e579e; }

.text-red { color: #cd242a; }

.bgr-trans-dark { background: rgba(66, 66, 66, 0.8); }

/* Utilities */
.hidden { display: none !important; }

.transparent { opacity: 0; }

.clickable { cursor: pointer; }

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

.inline { display: inline-block; *display: inline; *zoom: 1; width: auto; }

.wide { width: 100%; }

.tall { height: 100%; }

.expand-v { min-height: 100vh; }

.crop { overflow: hidden; }

.crop-x { overflow-x: hidden; }

.crop-y { overflow-y: hidden; }

.pos-top { top: 0; }

.pos-bottom { bottom: 0; }

.pos-right { right: 0; }

.pos-left { left: 0; }

.overlay { z-index: 999999; }

.front { z-index: 99999; }

.front-1 { z-index: 99998; }

.front-2 { z-index: 99997; }

.rounded { border-radius: 4px; }

.circle { border-radius: 50%; }

.list-none { list-style: none; padding-left: initial; }

.animate { transition: all 0.25s ease-in-out; }

.animate-all, .animate-all * { transition: all 0.25s ease-in-out; }

/* Responsive Utilities */
.rel { position: relative; }

.abs { position: absolute; }

.float-none { float: none; }

.float-right { float: right; }

.float-left { float: left; }

.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-dark { color: #234; }

.hidden { display: none; }

.border-0 { border: none; }

.border { border-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }

.border-top { border-top-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }

.border-bottom { border-bottom-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }

.border-left { border-left-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }

.border-right { border-right-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }

.border-top-0 { border-top: none; }

.border-bottom-0 { border-bottom: none; }

.border-left-0 { border-left: none; }

.border-right-0 { border-right: none; }

.before-hidden:before { display: none; }

.after-hidden:after { display: none; }

@media (max-width: 480px) { .s-rel { position: relative; }
  .s-abs { position: absolute; }
  .s-float-none { float: none; }
  .s-float-right { float: right; }
  .s-float-left { float: left; }
  .s-text-center { text-align: center; }
  .s-text-left { text-align: left; }
  .s-text-right { text-align: right; }
  .s-text-dark { color: #234; }
  .s-hidden { display: none; }
  .s-border-0 { border: none; }
  .s-border { border-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }
  .s-border-top { border-top-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }
  .s-border-bottom { border-bottom-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }
  .s-border-left { border-left-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }
  .s-border-right { border-right-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }
  .s-border-top-0 { border-top: none; }
  .s-border-bottom-0 { border-bottom: none; }
  .s-border-left-0 { border-left: none; }
  .s-border-right-0 { border-right: none; }
  .s-before-hidden:before { display: none; }
  .s-after-hidden:after { display: none; } }

@media (min-width: 481px) and (max-width: 800px) { .m-rel { position: relative; }
  .m-abs { position: absolute; }
  .m-float-none { float: none; }
  .m-float-right { float: right; }
  .m-float-left { float: left; }
  .m-text-center { text-align: center; }
  .m-text-left { text-align: left; }
  .m-text-right { text-align: right; }
  .m-text-dark { color: #234; }
  .m-hidden { display: none; }
  .m-border-0 { border: none; }
  .m-border { border-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }
  .m-border-top { border-top-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }
  .m-border-bottom { border-bottom-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }
  .m-border-left { border-left-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }
  .m-border-right { border-right-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }
  .m-border-top-0 { border-top: none; }
  .m-border-bottom-0 { border-bottom: none; }
  .m-border-left-0 { border-left: none; }
  .m-border-right-0 { border-right: none; }
  .m-before-hidden:before { display: none; }
  .m-after-hidden:after { display: none; } }

@media (min-width: 801px) { .l-rel { position: relative; }
  .l-abs { position: absolute; }
  .l-float-none { float: none; }
  .l-float-right { float: right; }
  .l-float-left { float: left; }
  .l-text-center { text-align: center; }
  .l-text-left { text-align: left; }
  .l-text-right { text-align: right; }
  .l-text-dark { color: #234; }
  .l-hidden { display: none; }
  .l-border-0 { border: none; }
  .l-border { border-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }
  .l-border-top { border-top-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }
  .l-border-bottom { border-bottom-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }
  .l-border-left { border-left-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }
  .l-border-right { border-right-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.1); }
  .l-border-top-0 { border-top: none; }
  .l-border-bottom-0 { border-bottom: none; }
  .l-border-left-0 { border-left: none; }
  .l-border-right-0 { border-right: none; }
  .l-before-hidden:before { display: none; }
  .l-after-hidden:after { display: none; } }

.border-dashed { border-style: dashed; }

.border-dotted { border-style: dotted; }

.border-blue-lt { border-color: #75c5df; }

.border-blue { border-color: #287dbe; }

.border-blue-dk { border-color: #384992; }

.border-green { border-color: #9fc74d; }

.border-green-dk { border-color: #5bb12f; }

.border-white { border-color: #fff; }

.border-dark { border-color: #234; }

.border-grey-lt { border-color: #ececec; }

.border-grey { border-color: #999; }

.border-pink { border-color: #ec66a2; }

.border-purple { border-color: #9e579e; }

.border-red { border-color: #cd242a; }

.shadow { box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); }
